.main{
    background-color: #1f2937;
    color: white;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 30px;
}

.headerElements{
    display: flex;
    justify-content: space-between;
    margin: 10px;
    border: 10px;
    padding-top: 20px;
}

.to{
    
    justify-content: space-evenly;
}

.aa{
    color: yellow;
}
.ab{
    color: red;
}
.ac{
    color: green;
}

.logo{
    font-size: 24px;

}

.signup{
    padding: 1px;
   
}

.TextImage{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.awesome{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
   
    
}

.middle{
    background-color: #96b3ec;
    padding: 20px 100px 200px 100px;
   
}

.TandI{
    display: flex;
    justify-content: space-between;
}
.text1{
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    padding-top: 100px;
    padding-bottom: 100px;
}

.text3{
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 250px;
}

.action{
    display: flex;
    justify-content: space-between;
    background-color: #3882f6;
    padding: 20px 40px 100px 40px;
    margin-left: 100px;
    margin-right: 100px;
}

.footer{
    text-align: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding-top: 25px;
    padding-bottom: 25px;
}

.img{
    
    
}

.edit{
    height: 200px;
    width: 200px;
}

